* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* basic components */
body{
    font-size: 100%;
font-family: 'Work Sans', sans-serif;
}

ul{
    list-style: none;
    padding: 0;
}

ul>li{
    padding-left: 1rem;
}

ul li a{
    text-decoration: none;
}

.btn{
    padding: .5rem 1rem;
}

.btn:hover{}

.btn-blue{
    background-color: blue;
    color: white;
    border: none;
}

.btn-white{
    background-color: inherit;
}

.flex{
    display: flex;
}

.fl-c{
    align-items: center;
}

.fl-r{
    justify-content: flex-end;
}

.container{
    width: 80%;
    max-width: 1140px;
    margin: 0 auto;
}

.pad-10{
    padding-left: 10%;
    padding-right: 10%;
}

/* header */
header {
    width: 100%;
    height: 60px;
    justify-content: space-between;
}

.logo{
    height: 18px;
}

header ul li a {
    color: grey;
    font-size: .8rem;
}

.header-left{
    margin-left: 10px;
}

.header-right {
    margin-right: 10px;
}

.header-right ul {
    padding-right: 10px;
}

/* jumbo */
.jumbo{
    width: 100%;
    height: 70vh;
    background-color: rgb(117, 214, 252);
}

/* main */
main{
    height: 1000px;
    background-color: rgb(244, 188, 103);
}

main>div{
    background-color: rgb(71, 247, 88);
    height: 100%;
}

/* section boxes */
.container-boxes{
    width: 100%;
    height: 600px;
    background-color: red;
}

.box-squares{
    border: 4px solid yellow;
    height: 65%;
}

.box-rectangle{
    background-color: rgb(117, 214, 252);
    height: 35%;
}

/* FAQ */
.faq{
    background-color: rgb(244, 188, 103);
    height: 600px;
}

/* footer */
footer{
    width: 100%;
    height: 400px;
    background-color: black;
    color: white;
}